# This is Git's per-user configuration file.
[user]
	name = Hiromu Kamei
	email = hk.radwimps@icloud.com
[color]
	ui = auto
[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	st = status
	co = checkout 
	cm = commit
	br = branch

